@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?5dc8f959b1843d61fdbdee4a61be40ad") format("truetype"),
url("./flaticon.woff?5dc8f959b1843d61fdbdee4a61be40ad") format("woff"),
url("./flaticon.woff2?5dc8f959b1843d61fdbdee4a61be40ad") format("woff2"),
url("./flaticon.eot?5dc8f959b1843d61fdbdee4a61be40ad#iefix") format("embedded-opentype"),
url("./flaticon.svg?5dc8f959b1843d61fdbdee4a61be40ad#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-ecosystem:before {
    content: "\f101";
}
.flaticon-eco-house:before {
    content: "\f102";
}
.flaticon-contact:before {
    content: "\f103";
}
.flaticon-ecosystem-1:before {
    content: "\f104";
}
.flaticon-sustainable:before {
    content: "\f105";
}
.flaticon-outsourcing:before {
    content: "\f106";
}
.flaticon-locator:before {
    content: "\f107";
}
.flaticon-project:before {
    content: "\f108";
}
.flaticon-work-station:before {
    content: "\f109";
}
.flaticon-globe:before {
    content: "\f10a";
}
.flaticon-environment:before {
    content: "\f10b";
}
.flaticon-bell:before {
    content: "\f10c";
}
.flaticon-holding-hand:before {
    content: "\f10d";
}
.flaticon-money-growth:before {
    content: "\f10e";
}
.flaticon-experience:before {
    content: "\f10f";
}
.flaticon-climate:before {
    content: "\f110";
}
.flaticon-envelope:before {
    content: "\f111";
}
.flaticon-bubble-chat:before {
    content: "\f112";
}
.flaticon-like:before {
    content: "\f113";
}
.flaticon-star:before {
    content: "\f114";
}
.flaticon-share:before {
    content: "\f115";
}
.flaticon-save:before {
    content: "\f116";
}
.flaticon-price-tag:before {
    content: "\f117";
}
.flaticon-planet-earth:before {
    content: "\f118";
}
.flaticon-brand:before {
    content: "\f119";
}
.flaticon-quality-control:before {
    content: "\f11a";
}
.flaticon-up-arrow:before {
    content: "\f11b";
}
.flaticon-review:before {
    content: "\f11c";
}
.flaticon-quote:before {
    content: "\f11d";
}
.flaticon-bio:before {
    content: "\f11e";
}
.flaticon-email:before {
    content: "\f11f";
}
.flaticon-call:before {
    content: "\f120";
}
.flaticon-24-hour-clock:before {
    content: "\f121";
}
.flaticon-environmental:before {
    content: "\f122";
}
.flaticon-heart:before {
    content: "\f123";
}
.flaticon-quotes:before {
    content: "\f124";
}
.flaticon-gardening:before {
    content: "\f125";
}
.flaticon-provider:before {
    content: "\f126";
}
.flaticon-eco-house-1:before {
    content: "\f127";
}
.flaticon-next:before {
    content: "\f128";
}
.flaticon-back:before {
    content: "\f129";
}
.flaticon-map:before {
    content: "\f12a";
}
.flaticon-responsibility:before {
    content: "\f12b";
}
.flaticon-sapling:before {
    content: "\f12c";
}
.flaticon-up-arrow-1:before {
    content: "\f12d";
}
.flaticon-search:before {
    content: "\f12e";
}
.flaticon-remove:before {
    content: "\f12f";
}
.flaticon-send:before {
    content: "\f130";
}
.flaticon-left-quote:before {
    content: "\f131";
}
.flaticon-down-arrow:before {
    content: "\f132";
}
.flaticon-email-1:before {
    content: "\f133";
}
.flaticon-email-2:before {
    content: "\f134";
}
.flaticon-location:before {
    content: "\f135";
}
.flaticon-pin:before {
    content: "\f136";
}
.flaticon-call-1:before {
    content: "\f137";
}
.flaticon-play:before {
    content: "\f138";
}
.flaticon-tick:before {
    content: "\f139";
}
.flaticon-maps-and-flags:before {
    content: "\f13a";
}
.flaticon-secure-shield:before {
    content: "\f13b";
}
.flaticon-telephone:before {
    content: "\f13c";
}
.flaticon-up-arrow-2:before {
    content: "\f13d";
}
.flaticon-right-arrow:before {
    content: "\f13e";
}
.flaticon-left-arrow:before {
    content: "\f13f";
}
.flaticon-phone-call:before {
    content: "\f140";
}
.flaticon-download-arrow:before {
    content: "\f141";
}
.flaticon-share-1:before {
    content: "\f142";
}
.flaticon-left-quote-1:before {
    content: "\f143";
}
.flaticon-right-quotation-sign:before {
    content: "\f144";
}
.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before {
    content: "\f145";
}
.flaticon-plus-positive-add-mathematical-symbol:before {
    content: "\f146";
}
.flaticon-minus-sign:before {
    content: "\f147";
}
.flaticon-quotation-mark:before {
    content: "\f148";
}
.flaticon-group:before {
    content: "\f149";
}
.flaticon-chain:before {
    content: "\f14a";
}
.flaticon-checkbox:before {
    content: "\f14b";
}
.flaticon-shopping-cart:before {
    content: "\f14c";
}
.flaticon-user:before {
    content: "\f14d";
}
.flaticon-file:before {
    content: "\f14e";
}
.flaticon-user-1:before {
    content: "\f14f";
}
.flaticon-linkedin:before {
    content: "\f150";
}
.flaticon-instagram:before {
    content: "\f151";
}
.flaticon-facebook:before {
    content: "\f152";
}
.flaticon-twitter:before {
    content: "\f153";
}
.flaticon-planet-earth-1:before {
    content: "\f154";
}
.flaticon-play-button-arrowhead:before {
    content: "\f155";
}
.flaticon-globe-1:before {
    content: "\f156";
}
.flaticon-time:before {
    content: "\f157";
}
.flaticon-left-arrow-1:before {
    content: "\f158";
}
.flaticon-play-button:before {
    content: "\f159";
}
.flaticon-support:before {
    content: "\f15a";
}
.flaticon-calendar:before {
    content: "\f15b";
}
.flaticon-email-3:before {
    content: "\f15c";
}
.flaticon-next-1:before {
    content: "\f15d";
}
.flaticon-checked:before {
    content: "\f15e";
}
.flaticon-down-arrow-1:before {
    content: "\f15f";
}
