/*---------------------------------
          Mixins & Animation CSS
-----------------------------------*/
@media only screen and (max-width: 575px) {
  .xs-center {
    text-align: center;
  }
  .xs-none {
    display: none;
  }
  .section-title {
    font-size: 20px;
  }
  .db-content {
    padding: 130px 0 0;
  }
  .header-wrap .header-left {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-wrap .header-left .sidebar-btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0 !important;
  }
  .header-wrap .header-left .navbar-brand {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: calc(100% - 45px);
    margin-right: 10px;
  }
  .header-wrap .header-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header-wrap .header-right .notification-btn h6 {
    font-size: 15px;
  }
  .header-wrap .header-right .notification-btn .notification-wrap {
    right: -60px;
    min-width: 280px;
    padding: 15px 15px 15px;
  }
  .db-wrap .sidebar {
    padding: 125px 15px 40px;
  }
  .pos-tablist .nav-item {
    display: block;
    width: 100%;
    text-align: center;
  }
  .pos-tablist .nav-item .nav-link {
    font-size: 14px;
    padding: 5px 15px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    text-align: center;
  }
  .pos-card {
    padding: 15px;
  }
  input {
    height: 50px;
  }
  .pos-cart {
    overflow-x: auto;
    width: 100%;
  }
  .pos-cart table tbody tr th,
  .pos-cart table tbody tr td {
    min-width: 100px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .db-wrap .sidebar {
    padding: 85px 15px 40px;
  }
  .dt-pageination-right .page-nav li.prev a i,
  .dt-pageination-right .page-nav li.next a i {
    font-size: 16px;
    top: 3px;
  }
}

@media only screen and (max-width: 767px) {
  p, input, textarea {
    font-size: 14px;
  }
  .btn {
    font-size: 14px;
  }
  .sm-none {
    display: none !important;
  }
  .sm-center {
    text-align: center !important;
  }
  .mb-50 {
    margin-bottom: 30px !important;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-50 {
    padding-bottom: 0px;
  }
  .pb-60 {
    padding-bottom: 15px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .mt-100 {
    margin-top: 50px !important;
  }
  .mb-100 {
    margin-bottom: 50px !important;
  }
  .mtb-100 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 20px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .pb-75 {
    padding-bottom: 25px;
  }
  .pb-50 {
    padding-bottom: 0px;
  }
  .pt-75 {
    padding-top: 25px;
  }
  .mb-40 {
    margin-bottom: 25px !important;
  }
  .link, .btn {
    font-size: 14px;
  }
  .btn {
    padding: 12px 25px 12px;
  }
  .container-fluid {
    padding: 0 15px;
  }
  .dt-pageination-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  .dt-pageination-right .page-nav {
    margin-right: 10px;
  }
  .dt-pageination-right .page-nav li a {
    padding: 4px;
    font-size: 14px;
  }
  .dt-pageination-right .page-nav li.prev, .dt-pageination-right .page-nav li.next {
    margin: 0;
  }
  .dt-pageination-right .page-nav li.prev a, .dt-pageination-right .page-nav li.next a {
    padding: 7px;
  }
  .dt-pageination-right .page-nav li.prev a i,
  .dt-pageination-right .page-nav li.next a i {
    font-size: 16px;
  }
  .dt-pageination-right #select-page-num {
    width: 45px;
    height: 35px;
    font-size: 13px;
    padding: 0 3px;
    background-position: calc(100% - 6px) 50%;
    background-size: 11px;
  }
  .option-btn-wrap {
    margin-top: 25px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .option-btn-wrap button, .option-btn-wrap a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .option-btn-wrap button.btn, .option-btn-wrap a.btn {
    padding: 5px 10px;
    font-size: 13px;
  }
  .option-btn-wrap button.btn.style3, .option-btn-wrap a.btn.style3 {
    padding: 4px 9px;
  }
  .login-wrap {
    padding: 30px 0;
  }
  .login-wrap .wl-text {
    margin-bottom: 25px;
  }
  .login-wrap .wl-text h2 {
    font-size: 30px;
  }
  .login-wrap .login-form-wrap {
    padding: 20px;
  }
  .login-wrap .login-form-wrap .login-header h3 {
    font-size: 30px;
  }
  .login-wrap.style2::before {
    top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .pt-100 {
    padding-top: 70px;
  }
  .pb-100 {
    padding-bottom: 70px;
  }
  .mt-100 {
    margin-top: 70px !important;
  }
  .mb-100 {
    margin-bottom: 70px !important;
  }
  .mtb-100 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
  }
  .pb-50 {
    padding-bottom: 20px;
  }
  .pb-60 {
    padding-bottom: 35px;
  }
  .mt-100 {
    margin-top: 70px !important;
  }
  .pt-70 {
    padding-top: 40px;
  }
  .pb-70 {
    padding-bottom: 40px;
  }
  .pb-75 {
    padding-bottom: 45px;
  }
  .pb-50 {
    padding-bottom: 20px;
  }
  .pt-75 {
    padding-top: 45px;
  }
  .db-wrap .sidebar {
    padding: 85px 20px 40px;
  }
  .option-btn-wrap {
    margin-top: 25px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (max-width: 991px) {
  .page-wrapper {
    overflow-x: hidden !important;
  }
  .md-none {
    display: none !important;
  }
  .mt-60 {
    margin-top: 30px !important;
  }
  .md-center {
    text-align: center !important;
  }
  .header-wrap .header-left .sidebar-btn {
    width: 35px;
    height: 30px;
    top: 2px;
    margin-right: 15px;
  }
  .header-wrap .header-left .sidebar-btn i {
    font-size: 18px;
    line-height: 25px;
  }
  .header-wrap .header-left .navbar-brand {
    margin: 0;
    padding: 0;
    position: relative;
    top: 2px;
  }
  .header-wrap .header-left .navbar-brand img {
    max-width: 27px;
  }
  .header-wrap .header-left .navbar-brand span {
    margin-left: 5px;
    font-size: 15px;
    width: calc(100% - 40px);
  }
  .header-wrap .header-right a.btn {
    padding: 2px 20px 1px;
    font-size: 13px;
  }
  .db-wrap .sidebar {
    width: 280px;
    z-index: 10;
    left: -100%;
  }
  .db-wrap .sidebar .sidenav-header {
    display: none;
  }
  .db-wrap.close-sidebar .sidebar {
    left: 0;
  }
  .db-wrap .db-content {
    margin-left: 0;
    width: 100%;
  }
  .dt-table.style2 {
    width: 100%;
    overflow-x: auto;
  }
  .dt-table.style2 table thead tr th {
    font-size: 14px;
    padding: 12px 10px;
  }
  .dt-table.style2 table thead tr th:nth-child(1), .dt-table.style2 table thead tr th:nth-child(2) {
    min-width: 140px;
  }
  .dt-table.style2 table tbody tr td {
    font-size: 14px;
    min-width: 140px;
    padding: 12px 10px;
  }
  .dt-table.style2 table tbody tr td:nth-child(1), .dt-table.style2 table tbody tr td:nth-child(2) {
    min-width: 140px;
  }
}

@media only screen and (min-width: 992px) {
  .container-fluid {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .option-btn-wrap button, .option-btn-wrap a {
    margin-left: 10px;
  }
  .db-wrap .sidebar {
    width: 280px;
  }
  .db-wrap .db-content {
    width: calc(100% - 280px);
  }
  .option-btn-wrap {
    margin-top: 25px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .dt-table.style2 {
    width: 100%;
    overflow-x: auto;
  }
  .dt-table.style2 table thead tr th {
    font-size: 14px;
    min-width: 140px;
  }
  .dt-table.style2 table tbody tr td {
    font-size: 14px;
    min-width: 140px;
    padding: 12px 10px;
  }
}

@media only screen and (max-width: 1199px) {
  .dt-table-wrap.style1 .dt-table {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }
  .dt-table-wrap.style1 .dt-table table thead tr th {
    font-size: 14px;
  }
  .dt-table-wrap.style1 .dt-table table thead tr th:nth-child(2) {
    min-width: 200px;
  }
  .dt-table-wrap.style1 .dt-table table thead tr th:nth-child(4) {
    min-width: 180px;
  }
  .dt-table-wrap.style1 .dt-table table thead tr th:last-child {
    min-width: 120px;
  }
  .dt-table-wrap.style1 .dt-table table tbody tr td {
    font-size: 14px;
  }
  .dt-table-wrap.style1 .dt-table table tbody tr td h6 {
    font-size: 14px;
  }
  .dt-table-wrap.style1 .dt-table table tbody tr td:nth-child(2) {
    min-width: 200px;
  }
  .dt-table-wrap.style1 .dt-table table tbody tr td:nth-child(4) {
    min-width: 180px;
  }
  .dt-table-wrap.style1 .dt-table table tbody tr td:last-child {
    min-width: 120px;
  }
}

@media only screen and (min-width: 1200px) {
  .xl-none {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
  .cat-search .form-group input {
    font-size: 14px;
  }
  .option-btn-wrap button, .option-btn-wrap a {
    margin-left: 10px;
  }
  .db-wrap .sidebar {
    width: 280px;
  }
  .db-wrap .db-content {
    width: calc(100% - 280px);
  }
}

@media only screen and (min-width: 1920px) {
  .login-wrap {
    padding: 80px 0;
  }
}
/*# sourceMappingURL=responsive.css.map */