//Color Variable
$clr_white: #fff;
$clr_black: #000;
$clr_emperor: #595959;
$clr_albastor: #f9f9f9;
$clr_gray: #707070;
$clr_tundora: #444;
$clr_stratos:#03014C;
$clr_olive:#6BA229;
$clr_cod:#111111;
$clr_spring:#FBFCF9;
$clr_blue:#6964FF;
$clr_haze:#F9FAFF;
$clr_rose:#D4DCFF;
$clr_zircon:#F9FAFF;

/*---------------------------------
          Mixins & Animation CSS
-----------------------------------*/
@mixin transition($time) {
    -webkit-transition: $time;
    transition: $time;
}

@mixin transform($tr_amt) {
    -webkit-transform: $tr_amt;
    -moz-transform: $tr_amt;
    transform: $tr_amt;
}

@mixin transform-origin($trl_amt) {
    transform-origin: $trl_amt;
    -webkit-transform-origin: $trl_amt;
    -moz-transform-origin: $trl_amt;
    -ms-transform-origin: $trl_amt;
    -o-transform-origin: $trl_amt;
}

@mixin transform-style($trm_amt) {
    transform-style: $trm_amt;
    -webkit-transform-style: $trm_amt;
    -moz-transform-style: $trm_amt;
    -ms-transform-style: $trm_amt;
    -o-transform-style: $trm_amt;
}

%flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

%inline_flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

%flex_column_center {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

%flex_column_between {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

%flex_column_end {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

%align_center {
    @extend %flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

%align_start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
}

%align_end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
}
%flex_justify_between {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

%flex_justify_end {
    @extend %flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

%flex_justify_start {
    @extend %flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

%flex_start {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

%flex_start {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
}

%flex_between {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;

}

%flex_end {
    @extend %flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

@media only screen and (max-width:575px) {
    .xs-center {
        text-align: center;
    }
    .xs-none {
        display: none;
    }
    .section-title {
        font-size: 20px;
    }
    .db-content {
        padding: 130px 0 0;
    }
    .header-wrap {
        .header-left{
            justify-content: space-between;
            .sidebar-btn {
               order: 2;
               margin-right: 0!important;
            }
            .navbar-brand{
                order: 1;
                width: calc(100% - 45px);
                margin-right: 10px;
            }
        }
        .header-right{
            justify-content: center;
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid rgba(0,0,0,0.1);
            .notification-btn {
                h6{
                    font-size: 15px;
                }
                .notification-wrap {
                    right: -60px;
                    min-width: 280px;
                    padding: 15px 15px 15px;
                }
            }
        }
    }
    .db-wrap{
        .sidebar{
            padding: 125px 15px 40px;
        }
    }
    .pos-tablist .nav-item {
        display: block;
        width: 100%;
        text-align: center;
    }
    .pos-tablist .nav-item .nav-link {
        font-size: 14px;
        padding: 5px 15px;
        margin-bottom: 10px;
        display: block;
        width: 100%;
        text-align: center;
    }
    .pos-card {
        padding: 15px;
    }
    input{
        height: 50px;
    }
    .pos-cart{
        overflow-x:auto;
        width: 100%;
    }
    .pos-cart table tbody tr th,
    .pos-cart table tbody tr td{
        min-width: 100px;
    }
}

@media only screen and (min-width: 576px)  and (max-width: 767px) {
    .db-wrap {
        .sidebar {
            padding: 85px 15px 40px;
        }
    }
    .dt-pageination-right .page-nav li.prev a i,
     .dt-pageination-right .page-nav li.next a i {
        font-size: 16px;
        top: 3px;
    }
    
}
@media only screen and (max-width: 767px) {
    p,input,textarea {
        font-size: 14px;
    }
    .btn{
        font-size: 14px;
    }
    .sm-none {
        display: none !important;
    }
    .sm-center {
        text-align: center !important;
    }

    .mb-50 {
        margin-bottom: 30px !important;
    }

    .pt-100 {
        padding-top: 50px
    }
    .pb-50 {
        padding-bottom: 0px
    }

    .pb-60 {
        padding-bottom: 15px;
    }

    .pb-100 {
        padding-bottom: 50px;
    }

    .mt-100 {
        margin-top: 50px!important;
    }
    
    .mb-100 {
        margin-bottom: 50px!important;
    }
    .mtb-100 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pt-70 {
        padding-top: 20px;
    }

    .pb-70 {
        padding-bottom: 20px;
    }

    .pb-75 {
        padding-bottom: 25px;
    }

    .pb-50 {
        padding-bottom: 0px
    }

    .pt-75 {
        padding-top: 25px
    }

    .mb-40 {
        margin-bottom: 25px !important;
    }
    .link,.btn{
        font-size: 14px;
    }
    .btn{
        padding:12px 25px 12px;
    }
    .container-fluid{
        padding: 0 15px;
    }
    .dt-pageination-right{
        justify-content: center;
        margin-top: 10px;
        .page-nav {
            margin-right: 10px;
            li{
                a {
                    padding: 4px;
                    font-size: 14px;
                }
                &.prev,
                &.next{
                    margin: 0;
                    a{
                        padding: 7px;
                        i{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        #select-page-num {
            width: 45px;
            height: 35px;
            font-size: 13px;
            padding: 0 3px;
            background-position: calc(100% - 6px) 50%;
            background-size: 11px;
        }
    }
    .option-btn-wrap {
        margin-top: 25px;
        justify-content: flex-start;
        button,a{
            margin-right: 10px;
            margin-bottom: 10px;
            &.btn{
                padding: 5px 10px;
                font-size: 13px;
                &.style3 {
                    padding: 4px 9px;
                }
            }
        }
    }
    .login-wrap{
        padding: 30px 0;
        .wl-text{
            margin-bottom: 25px;
            h2{
                font-size: 30px;
            }
        }
        .login-form-wrap{
            padding: 20px;
            .login-header {
                h3 {
                    font-size: 30px;
                }
            }
        }
    }
    .login-wrap.style2::before {
        top: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container-fluid{
        padding-left:20px;
        padding-right:20px;
    }
    .pt-100 {
        padding-top: 70px
    }

    .pb-100 {
        padding-bottom: 70px;
    }

    .mt-100 {
        margin-top: 70px!important;
    }

    .mb-100 {
        margin-bottom: 70px!important;
    }
    .mtb-100 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }
    .pb-50 {
        padding-bottom: 20px
    }

    .pb-60 {
        padding-bottom: 35px;
    }

    .mt-100 {
        margin-top: 70px !important;
    }

    .pt-70 {
        padding-top: 40px
    }

    .pb-70 {
        padding-bottom: 40px
    }

    .pb-75 {
        padding-bottom: 45px
    }

    .pb-50 {
        padding-bottom: 20px
    }

    .pt-75 {
        padding-top: 45px
    }
    .db-wrap{
        .sidebar{
            padding: 85px 20px 40px;
        }
    }
    .option-btn-wrap {
        margin-top: 25px;
        justify-content: flex-start;
     }
    
   
}
@media only screen and (max-width: 991px) {
    .page-wrapper{
        overflow-x: hidden!important;
    }
    .md-none {
        display: none !important;
    }
    .mt-60 {
        margin-top: 30px !important;
    }
    .md-center {
        text-align: center !important;
    }
    .header-wrap {
        .header-left{
            .sidebar-btn {
                width: 35px;
                height: 30px;
                top: 2px;
                margin-right: 15px;
                i{
                    font-size: 18px;
                    line-height: 25px;
                }
            }
            .navbar-brand{
                margin: 0;
                padding: 0;
                position: relative;
                top: 2px;
                img{
                    max-width: 27px;
                }
                span{
                    margin-left: 5px;
                    font-size: 15px;
                    width: calc(100% - 40px);
                }
            }
        }
        .header-right{
            a{
                &.btn{
                    padding: 2px 20px 1px;
                    font-size: 13px;
                }
            }
        }
    }
    .db-wrap{
        .sidebar{
            width: 280px;
            z-index: 10;
            left: -100%;
            .sidenav-header{
                display: none;
            }
        }
        &.close-sidebar{
            .sidebar{
                left: 0;
            }
        }
        .db-content{
            margin-left: 0;
            width:100%;
        }
    }
    .dt-table{
        &.style2{
            width: 100%;
            overflow-x: auto;
             table {
                thead {
                    tr {
                        th{
                            font-size: 14px;
                            padding: 12px 10px;
                            &:nth-child(1),
                            &:nth-child(2){
                                min-width: 140px;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td{
                            font-size: 14px;
                            min-width: 140px;
                            padding: 12px 10px;
                            &:nth-child(1),
                            &:nth-child(2){
                                min-width: 140px;
                            }
                        }
                    }
                }
             }
        }
    }
}

@media only screen and (min-width:992px) {
    .container-fluid{
        padding: 0 30px;
    }
}
@media only screen and (min-width:992px) and (max-width:1199px) {
    .option-btn-wrap button,
    .option-btn-wrap a {
        margin-left: 10px;
    }
    .db-wrap {
        .sidebar {
            width: 280px;
        }
        .db-content {
            width: calc(100% - 280px);
        }
    }
    .option-btn-wrap {
       margin-top: 25px;
       justify-content: flex-start;
    }
    .dt-table{
        &.style2{
            width: 100%;
            overflow-x: auto;
             table {
                thead {
                    tr {
                        th{
                            font-size: 14px;
                            min-width: 140px;
                        }
                    }
                }
                tbody {
                    tr {
                        td{
                            font-size: 14px;
                            min-width: 140px;
                            padding: 12px 10px;

                        }
                    }
                }
             }
        }
    }
    
}
@media only screen and (max-width: 1199px) {
    .dt-table-wrap{
        &.style1{
            .dt-table{
                overflow-x: auto;
                overflow-y: hidden;
                width: 100%;
                table{
                    thead{
                        tr{
                            th{
                                font-size: 14px;
                                &:nth-child(2){
                                    min-width: 200px;
                                }
                                &:nth-child(4){
                                    min-width: 180px;
                                }
                                &:last-child{
                                    min-width: 120px;
                                }
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                font-size: 14px;
                                h6{
                                    font-size: 14px;
                                }
                                &:nth-child(2){
                                    min-width: 200px;
                                }
                                &:nth-child(4){
                                    min-width: 180px;
                                }
                                &:last-child{
                                    min-width: 120px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:1200px) {
    .xl-none {
        display: none !important;
    }
   
}
@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    .cat-search .form-group input {
        font-size: 14px;
    }
    .option-btn-wrap button,
    .option-btn-wrap a {
        margin-left: 10px;
    }
    .db-wrap .sidebar {
        width: 280px;
    }
    .db-wrap .db-content {
        width: calc(100% - 280px);
    }
}
@media only screen and (min-width:1920px) {
    .login-wrap{
        padding: 80px 0;
    }
}