/*-----------------------------------------------------------
    Theme Name: POS
    Theme URI: 
    Description: POS 
    Author: HiBootstrap
    Author URI: 
    Version: 1.0
-------------------------------------------------------------*/
/*--------------------------------
     =====Table Of Contents====

1.  General Styles 
2.  Mixins CSS
3.  Back To Top Button CSS
4.  Preloader CSS
5.  Button & Link CSS
6.  Section Title & Overlay & Shape CSS
7.  Social Link CSS
8.  Pagination CSS
9.  Sidebar CSS
     - Search Box Widget
     - Taglist Widget
     - Category Widget
     - Filter Search Widget
     - New Arrival Product Widget
     - Popular Post Widget
10. Sign In CSS
11. FAQ Terms & Conditions
----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

// Font Family Variable
$primary_font : 'Roboto', sans-serif;

//Color Variable
$clr_white: #fff;
$clr_black: #000;
$clr_emperor: #595959;
$clr_albastor: #f9f9f9;
$clr_gray: #707070;
$clr_tundora: #444;
$clr_stratos:#03014C;
$clr_olive:#6BA229;
$clr_cod:#111111;
$clr_spring:#FBFCF9;
$clr_blue:#6964FF;
$clr_haze:#F9FAFF;
$clr_rose:#D4DCFF;
$clr_zircon:#F9FAFF;

/*---------------------------------
            General Styles 
-----------------------------------*/
*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:focus,
button:focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input,textarea,select{
    background-color: $clr_zircon;
    border: 1px solid #D4DCFF;
    padding: 10px 18px;
    width: 100%;
    border-radius: 5px;
    height: 54px;
}
.form-group{
    margin-bottom: 25px;
    position: relative;
    .pwd-view {
        position: absolute;
        bottom: 13px;
        right: 15px;
        cursor: pointer;
    }
    label{
        display: block;
        margin-bottom: 10px;
        span{
            color: red;
            margin-left: 2px;
        }
    }
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

a {
    color: $clr_black;
    text-transform: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover,
a :focus {
    text-decoration: none;
    box-shadow: none;
    color: $clr_black;
}

a:focus {
    outline: 0 solid;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.4;
    color: $clr_stratos;

}
body {
    font-size: 16px;
    font-family: $primary_font;
    color: $clr_gray;
}
p {
    font-size: 16px;
    line-height: 1.8;
    color: $clr_gray;
}

select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../img/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: calc(100% - 18px) 50%;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-75 {
    padding-top: 75px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;
}
.pt-200 {
    padding-top: 200px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-130 {
    padding-bottom: 130px;
}

.ptb-10 {
    padding-bottom: 10px;
    padding-bottom: 10px;
}

.ptb-20 {
    padding-bottom: 20px;
    padding-bottom: 20px;
}

.ptb-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.ptb-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.ptb-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}
.mb-90 {
    margin-bottom: 90px !important;
}
.mb-100 {
    margin-bottom: 100px !important;
}

.mmt-10 {
    margin-top: -10px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-35 {
    margin-top: 35px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-100 {
    margin-top: 100px !important;
}
.mtb-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.z-0 {
    z-index: 0;
    position: relative;
}

#message {
    padding: 0;
    margin: 0;
}

.help-block {
    color: #E31C25;
}
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        list-style: none;
    }
}

.page-wrapper {
    overflow-x: hidden;
}

/*---------------------------------
          Mixins & Animation CSS
-----------------------------------*/
@mixin transition($time) {
    -webkit-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}

@mixin transform($tr_amt) {
    -webkit-transform: $tr_amt;
    -moz-transform: $tr_amt;
    transform: $tr_amt;
}

@mixin transform-origin($trl_amt) {
    transform-origin: $trl_amt;
    -webkit-transform-origin: $trl_amt;
    -moz-transform-origin: $trl_amt;
    -ms-transform-origin: $trl_amt;
    -o-transform-origin: $trl_amt;
}

@mixin transform-style($trm_amt) {
    transform-style: $trm_amt;
    -webkit-transform-style: $trm_amt;
    -moz-transform-style: $trm_amt;
    -ms-transform-style: $trm_amt;
    -o-transform-style: $trm_amt;
}
%flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
%inline_flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
%flex_column_center {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
%inline_column_center {
    @extend %inline_flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
%flex_column_between {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
%flex_column_end {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
%align_center {
    @extend %flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
%align_start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
}
%align_end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
}
%flex_justify_between {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
%flex_justify_center {
    @extend %flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
%flex_justify_end {
    @extend %flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
%flex_justify_start {
    @extend %flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
%flex_start {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
%flex_start {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    -ms-grid-row-align: flex-start;
     align-items: flex-start;
}
%flex_between {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
%flex_end {
    @extend %flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.play-now .ripple,
.play-now .ripple:before,
.play-now .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 85px;
    width: 85px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform-origin: center;
    transform-origin: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 #fff;
    -moz-box-shadow: 0 0 0 0 #fff;
    -ms-box-shadow: 0 0 0 0 #fff;
    -o-box-shadow: 0 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
    -webkit-animation: ripple 3s infinite;
    -moz-animation: ripple 3s infinite;
    -ms-animation: ripple 3s infinite;
    -o-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}
.play-now {
	position: relative;
	height: 85px;
	width: 85px;
	text-align: center;
	line-height: 92px;
	background-color: transparent;
    border: 3px solid $clr_white;
	color: #fff;
	z-index: 1;
	font-size: 28px;
	padding-left: 5px;
	display: block;
	-webkit-transform-origin: center;
	transform-origin: center center;
	border-radius: 50%;
    margin: 0 auto;
    .ripple{
        &:before {
            -webkit-animation-delay: 0.9s;
            -moz-animation-delay: 0.9s;
            -ms-animation-delay: 0.9s;
            -o-animation-delay: 0.9s;
            animation-delay: 0.9s;
            content: "";
            position: absolute;
        }
        &:after {
            -webkit-animation-delay: 0.6s;
            -moz-animation-delay: 0.6s;
            -ms-animation-delay: 0.6s;
            -o-animation-delay: 0.6s;
            animation-delay: 0.6s;
            content: "";
            position: absolute;
        }
    }
}
@-webkit-keyframes ripple {
    70% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes ripple {
    70% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

/*---------------------------------
     Back To Top Button CSS
-----------------------------------*/
.back-to-top {
    font-size: 24px;
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    display: none;
    position: fixed;
    bottom: 230px;
    right: 20px;
    z-index: 999;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    @include transition(0.4s);

    &.open {
        bottom: 30px;
    }

    i {
        color: $clr_white;
    }
}

/*---------------------------------
     Preloader CSS
-----------------------------------*/
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $clr_white;
    z-index: 20000;
    overflow-x: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader div{
    width: 12px;
    height: 12px;
    margin: 0 10px 0 0;
    border-radius: 50px;
    transform-origin: 50% 0;
    display: inline-block;
    animation: bouncing 1.4s linear infinite;
}
.loader div:last-child{ margin: 0; }
.loader div:nth-child(1){ background: rgba(160, 145, 255,0.9); }
.loader div:nth-child(2){
    background: rgba(160, 145, 255,0.7);
    animation-delay: 0.2s;
}
.loader div:nth-child(3){
    background: rgba(160, 145, 255,0.5);
    animation-delay: 0.4s;
}
@keyframes bouncing{
    0%, 100%{
        transform: translateY(0) scale(1, 1);
        animation-timing-function: ease-in;
    }
    45%{
        transform: translateY(80px) scale(1, 1);
        animation-timing-function: linear;
    }
    50%{
        transform: translateY(80px) scale(1.5, 0.5);
        animation-timing-function: linear;
    }
    55%{
        transform: translateY(80px) scale(1, 1);
        animation-timing-function: ease-out;
    }
}
/*---------------------------------
       Button & Link CSS
----------------------------------*/
.btn {
    display: inline-block;
    line-height: 26px;
    font-weight: 400;
    border-radius: 5px;
    text-align: center;
    @include transition(0.7s);
    position: relative;
    z-index: 1;
    border: none;
    padding: 14px 35px 14px;
    border-radius: 0;
    color: $clr_white;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        content:"";
        width: 50%;
        height: 0;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        @include transition(0.4s);
    }
    &:after{
        position: absolute;
        bottom: 0;
        right: 0;
        content:"";
        width: 50%;
        height: 0;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        @include transition(0.4s);
    }
    &:hover{
        color: $clr_white;
        &:after,
        &:before{
            width: 100%;
            height: 100%;
            visibility: visible;
            opacity: 1;
        }
    }
    &.style1{
        background-color: $clr_blue;
        color: $clr_white;
        border-radius: 10px;
        &:after,
        &:before{
            background: $clr_stratos;
        }
    }
    &.style2{
        background-color: #455060;
        color: $clr_white;
        &:after,
        &:before{
            background: $clr_blue;
        }
    }
    &.style3{
        background-color: $clr_blue;
        color: $clr_white;
        border-radius: 10px;
        padding: 14px 45px 14px;
        &:after,
        &:before{
            background: $clr_stratos;
        }
    }
    &.style4{
        background-color: transparent;
        color: $clr_emperor;
        border-radius: 10px;
        display: block;
        width: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        img{
            max-width: 18px;
            position: relative;
            top: -1px;
            margin-right: 6px;
        }
        &:after,
        &:before{
            background: $clr_stratos;
            
        }
        &:hover{
            color: $clr_white;
        }
    }
}
.link {
    font-weight: 500;
    line-height: 26px;
    display: inline-block;
    position: relative;
    color: $clr_blue;
    @include transition(0.4s);
    &:after{
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 0;
        height: 1px;
        background: $clr_blue;
        visibility: hidden;
        opacity: 0;
        @include transition(0.4s);
    }
    i {
        position: relative;
        top: 3px;
        margin-left: 5px;
        font-size: 14px;
        @include transition(0.4s);
    }
    &:hover {
        color: $clr_blue;
        &:after{
            visibility: visible;
            opacity: 1;
            width: 100%;
        }
        i{
            margin-left: 10px
        }
    }
}
.bg-transparent {
    background-color: transparent;
}
.bg-black {
    background-color: $clr_black;
}
.bg-white {
    background-color: $clr_white;
}
.bg-f {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
}
.section-title{
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 20px;
    color: $clr_gray;
}

/*-------------------------------
    Login & Register  CSS
-------------------------------*/
.wl-text{
    h2{
        font-size: 44px;
        color: $clr_white;
        margin: 0 0 5px;
    }
    p{
        margin: 0;
        color: $clr_white;
    }
}
.login-wrap{
    position: relative;
    z-index: 1;
    padding: 50px;
    &.style2{
        overflow: hidden;
        &:before{
            position: absolute;
            top: 50%;
            left: 0%;
            width: 200%;
            height: 200%;
            background-color: $clr_blue;
            content: "";
            @include transform(translate(-50%,-50%) rotate(-45deg));
            z-index: -1;
        }
    }
    .login-form-wrap{
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 50px;
        position: relative;
        z-index: 1;
        background-color: $clr_white;
        .login-header{
            margin-bottom: 30px;
            h3{
                font-size: 40px;
                margin:  0 0 5px;
            }
        }
        .checkbox{
            label{
                &:before {
                    top: 4px;
                }
            }
        }
    }
   
}
.login-wrap .login-form-wrap .checkbox input:checked + label::after {
	top: 7px;
}
.or-text {
    position: relative;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 18px;
    z-index: 9;

    &:before {
        position: absolute;
        top: 15px;
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background: #fff;
        z-index: -1;
    }
    p {
        display: inline-block;
        padding: 0 10px;
        background-color: $clr_albastor;
        margin: 0 auto;
        z-index: 1;
        font-size: 18px;
        border-radius: 50%;
    }
    button{
        margin-bottom: 20px;
    }
}
/*-------------------------------
    Header  Section CSS
-------------------------------*/
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}
.header-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: $clr_white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    padding: 10px 0;
    z-index: 99;
    @include transition(0.4s);
    &.sticky {
        position: fixed;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        @include transition(0.4s);
        background: $clr_white;
        -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        width: 100%;
        top: 0;
        -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1); 
    }
    .header-left{
        @extend %align_center;
        .sidebar-btn{
            width: 40px;
            height: 35px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            text-align: center;
            background-color: transparent;
            border-radius: 5px;
            position: relative;
            top: 2px;
            margin-right: 20px;
            @include transition(0.3s);
            i{
                font-size: 20px;
                line-height: 30px;
                color: rgba(0, 0, 0, 0.7);
                @include transition(0.3s);
            }
            &:hover{
                background-color: #A091FF;
                border-color: transparent;
                i{
                    color: $clr_white;
                }
            }
        }
       
    }
    .header-right{
        @extend %flex_justify_end;
        @extend %align_center;
        a{
            &.btn{
                padding: 4px 24px 3px;
                font-size: 15px;
                font-weight: 500;
                border-radius: 5px;
            }
        }
        .notification-btn{
            position: relative;
            cursor: pointer;
            margin-left: 30px;
            .bell-icon{
                position: relative;
                span{
                    position: absolute;
                    top: 3px;
                    right: -8px;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 10px;
                    line-height: 20px;
                    background-color: $clr_blue;
                    color: $clr_white;
                }
                i{
                    font-size: 26px;
                }
            }
            h6{
                margin: 0 0 15px;
                color: $clr_emperor;
            }
            span{
                i{
                    color: $clr_emperor;
                }
            }
            .notification-wrap{
                position: absolute;
                top: 55px;
                right: 0;
                min-width: 300px;
                background-color: $clr_white;
                padding: 20px 20px 15px;
                border-radius: 5px;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
                visibility: hidden;
                opacity: 0;
                z-index: 10;
                @include transition(0.4s);
                &.open{
                    visibility: visible;
                    opacity: 1;
                    top: 45px;
                }
                ul{
                    li{
                        position: relative;
                        padding-left: 55px;
                        margin-bottom: 15px;
                        p{
                            font-size:14px;
                            margin-bottom: 0;
                            line-height: 1.4;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                        span{
                            &.notification-time{
                                font-size: 12px;
                            }
                            &.notification-icon{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 32px;
                                height: 32px;
                                border-radius: 50%;
                                text-align: center;
                                background-color: #D4DCFF;
                                i{
                                    color: $clr_emperor;
                                    font-size: 15px;
                                    line-height: 33px;
                                }
                            }
                        }
                    }
                }
                button{
                    background-color: transparent;
                    border: none;
                    display: block;
                    width: 100%;
                    text-align: center;
                    color: $clr_blue;
                    font-weight: 500;
                    margin-top: 15px;
                    padding-top: 15px;
                    border-top: 1px solid rgba(0, 0, 0, 0.09);
                }
            }
        }
        .select-lang{
            margin-left: 30px;
        }
        .user-option{
            position: relative;
            margin-left: 40px;
            cursor: pointer;
            span{
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                img{
                    border-radius: 50%;
                }
            }
            ul{
                position: absolute;
                top: 55px;
                right: 0;
                width: 140px;
                background-color: $clr_white;
                padding: 20px 20px 15px;
                border-radius: 5px;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
                visibility: hidden;
                opacity: 0;
                z-index: 10;
                @include transition(0.4s);
                &.open{
                    visibility: visible;
                    opacity: 1;
                    top: 45px;
                }
                li{
                    margin: 0 0 13px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    a{
                        color: $clr_emperor;
                        font-size: 15px;
                        @include transition(0.4s);
                        &:hover{
                            padding-left: 5px;
                            color: $clr_blue;
                        }
                        i{
                            position: relative;
                            top: 1px;
                            font-size: 14px;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}
.select-lang {
    padding-left: 18px;
    position: relative;
    top: 1px;
    i {
        position: absolute;
        top: 4px;
        left: 0;
        font-size: 15px;
        line-height: 1;
        color: $clr_blue;
    }
    .navbar-language {
        .dropdown-toggle {
            background-color: transparent;
            border: none;
            color: $clr_emperor;
            font-size: 14px;
            padding-right: 16px;
            @extend %flex;
            @extend %align_center;
            @include transition(0.3s);
            &:after {
                display: none;
            }
            &:before {
                position: absolute;
                top: 5px;
                right: -3px;
                content: "\EA4E";
                font-family: "remixicon";
                border: 0;
                font-size: 18px;
                line-height: 0.8;
                color:rgba(0, 0, 0, 0.7);
            }
        }
        .dropdown-menu {
            margin: 0;
            padding: 5px 0;
            -webkit-box-shadow: 0 9px 54px 0 rgba(32, 32, 32, 0.1);
            box-shadow: 0 9px 54px 0 rgba(32, 32, 32, 0.1);
            left: auto;
            right: 0;
            inset: 0px 0 auto auto!important;
            border: none;
            border-radius: 0;
            -webkit-transform: translateY(75px) !important;
            transform: translateY(75px) !important;
            display: block;
            opacity: 0;
            pointer-events: none;
            -webkit-transition: all 0.3s linear;
            transition: all 0.3s linear;
            a {
                padding: 5px 10px;
                -webkit-transition: all 0.3s linear;
                transition: all 0.3s linear;
                font-size: 15px;
                img {
                    width: 20px;
                    margin-right: 10px;
                }
            }
            &.show {
                -webkit-transform: translateY(40px) !important;
                transform: translateY(40px) !important;
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}
/*-------------------------------
    Sidebar  Nav CSS
-------------------------------*/
.navbar-brand {
    @extend %align_center;
    margin-bottom: 40px;
    img{
        max-width: 40px;
        margin-right: 5px;
    }
    span{
        width: calc(100% - 55px);
    }
}
.sidebar-menu {
    height: calc(100% - 140px);
    overflow-y: auto;
    ul{
        li{
            padding: 3px 0;
            a{
                display: block;
                width: 100%;
                padding: 13px 20px 12px;
                background-color: transparent;
                border-radius: 10px;
                color: $clr_gray;
                @include transition(0.3s);
                i{
                    float: right;
                    font-size: 18px;
                    @include transition(0.3s);
                }
                &.active{
                    background-color: $clr_white;
                    color: $clr_stratos;
                }
            }
            img{
                position: relative;
                max-width: 18px;
                margin-right: 12px;
                position: relative;
                top: -2px;
            }
            &.nav-item{
                position: relative;
                .nav-link{
                    padding-left: 0;
                    &.active{
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
                ul{
                    margin: 5px 0 0 0;
                    background-color: $clr_white;
                    padding: 10px 15px;
                    border-radius: 10px;
                    li{
                        margin: 0;
                        a{
                            background-color: transparent;
                            font-size: 15px;
                            padding: 10px 15px;
                            color: $clr_gray;
                            &.active,
                            &:hover{
                                background-color: #F6F8FA;
                                padding-left: 20px;
                                color: $clr_stratos;
                            }
                        }
                    }
                }
                &.open{
                    &>a{
                        background-color: $clr_white;
                        color: $clr_stratos;
                        i{
                            @include transform(rotate(90deg));
                        }
                    }
                }
            }
        }
    }
}
/*-------------------------------
    Dashboard  Section CSS
-------------------------------*/
.db-wrap{
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        background-color: $clr_haze;
        padding: 85px 30px 40px;
        @include transition(0.4s);
    }
    &.close-sidebar{
        .sidebar{
            left: -100%;
        }
        .db-content{
            width: 100%;
        }
    }
    .db-content{
        margin-left: auto;
        width: calc(100% - 300px);
        @include transition(0.4s);
    }
}
.counter-card{
    box-shadow: 0 0 15px rgba(0,0,0,0.09);
    border-radius: 10px;
    margin-bottom: 25px;
    .counter-card-title{
        font-size: 12px;
        font-weight: 400;
        color: $clr_gray;
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        padding: 16px 25px 13px;
    }
    .counter-card-info{
        @extend %align_center;
        padding: 20px 25px;
        h4{
            width: calc(100% - 60px);
            margin-right: 5px;
            font-size: 24px;
            font-weight: 500;
            margin: 0;
        }
        .counter-card-icon{
            width: 55px;
        }
    }
}
.db-card{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    .db-card-title{
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 10px;
    }
    table{
        thead{
            tr{
                th{
                    font-size: 14px;
                    text-align: center;
                    padding: 14px;
                    &:nth-child(1){
                        text-align: left;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    font-size: 14px;
                    text-align: center;
                    padding: 14px;
                    vertical-align: middle;
                    &:nth-child(1){
                        text-align: left;
                    }
                }
            }
        }
    }
}
/*-------------------------------
    Category Page  CSS
-------------------------------*/
.body_overlay {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.001);
    width: 100%;
    height: 100%;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    @include transition(0.4s);
    &.open {
        visibility: visible;
        opacity: 1;
    }
}
.form-group{
    &.cat-search{
        position: relative;
        input{
            height: 48px;
            padding-left: 45px;
            border-radius: 10px;
            background-color: transparent;
        }
        button{
            position: absolute;
            top: 16px;
            left: 0;
            padding: 5px 15px;
            height: 100%;
            border: none;
            background-color: transparent;
            cursor: pointer;
            i{
                font-size: 20px;
                color: $clr_gray;
            }
        }
        &.style2{
            input{
                height: 54px;
                background-color: #F9FAFF;
                border: 1px solid #D4DCFF;
            }
        }
        &.style3{
            button{
               top: 2px;
            }
        }
    }
}
.db-content{
    padding: 80px 0 0;
}
.option-btn-wrap{
    @extend %flex_end;
    button,a{
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
        &.btn{
            padding: 7px 14px;
            border-radius: 8px;
            font-size: 14px;
            border: 1px solid transparent;
            i{
                position: relative;
                top: 1px;
                margin-right: 6px;
            }
            &.style3{
                padding: 6px 14px;
                background-color: #A091FF;
                i{
                    top: 3px;
                    margin-right: 0;
                    font-size: 22px;
                }
            } 
            &.style4{
                background-color: transparent;
                border: 1px solid #FF0000;
                color: #FF0000;
                display: inline-block;
                width: auto;
                &:hover{
                    border-color: transparent;
                    background-color: #FF0000;
                    color: $clr_white;
                }
            }  
            &.style5{
                background-color: transparent;
                border: 1px solid #00BF1A;
                color: #00BF1A;
                &:hover{
                    border-color: transparent;
                    background-color: #00BF1A;
                    color: $clr_white;
                }
            }
            &.style6{
                background-color: #6200E1;
                color: $clr_white;
                &:hover{
                    background-color: $clr_stratos;
                    color: $clr_white;
                }
            }   
            &.style7{
                background-color: #0062FF;
                color:$clr_white;
                &:hover{
                    background-color: $clr_stratos;
                    color: $clr_white;
                }
            } 
        }
    }
}
.dt-table-wrap{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
    padding: 20px 20px;
    border-radius: 10px;
    table{
        thead{
            border-color: transparent;
            tr{
                th{
                    background-color: $clr_zircon;
                    font-weight: 400;
                    font-size: 15px;
                    text-align: center;
                    padding: 15px 18px;
                    .checkbox{
                        position: relative;
                        top: -19px;
                        left: 13px;
                    }
                    &:first-child{
                        padding-left: 0;
                        text-align: left;
                    }
                    &:nth-child(2){
                        text-align: left;
                    }
                    &:last-child{
                        width: 135px;
                        padding-right: 0;
                    }
                }
            }    
        }
        tbody{
            border-top: none!important;
            tr{
                vertical-align: middle;
                padding: 15px 18px;
                text-align: center;
                &:last-child{
                    td{
                        border-bottom: 1px solid rgba(0,0,0,0.1);
                    }
                }
                td{
                    border: none;
                    color: $clr_gray;
                    padding: 15px 12px;
                    font-size: 14px;
                    &:first-child{
                        text-align: left;
                    }
                    &:last-child{
                        padding-right: 0;
                        text-align: left;
                    }
                    &.dt-checkboxes{
                        .checkbox{
                            position: relative;
                            top: -19px
                        }
                    }
                    .product_item{
                        @extend %align_center;
                        img{
                            max-width: 40px;
                            border-radius: 5px;
                        }
                        h6{
                            width: calc(100% - 50px);
                            margin:0 0 0 10px;
                            font-weight: 400;
                            font-size: 14px;
                            color: $clr_gray;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
    &.style1{
        table{
            thead{
                tr{
                    th{
                        &:last-child{
                         min-width: 125px;
                        }
                    }
                }    
            }
            tbody{
                tr{
                    td{
                        &:last-child{
                            min-width: 125px;

                        }
                    }
                }
            }
        }
    }
}
.dt-table{
    &.style2{
        border-radius: 5px 0 0 5px;
        margin-bottom: 25px;
        table{
            thead{
                border-color: transparent;
                tr{
                    th{
                        background-color: #B8C2F2;
                        font-weight: 500;
                        padding: 15px 20px;
                        text-align: center;
                        &:first-child{
                            padding-left: 20px;
                            border-radius: 5px 0 0 0;
                            text-align: left;
                        }
                        &:last-child{
                            border-radius: 0 5px 0 0;
                        }
                        &:nth-child(2){
                            text-align: center;
                        }
                    }
                }    
            }
            tbody{
                border-top: none!important;
                border: 1px solid rgba(0, 0, 0, 0.1);
                tr{
                    vertical-align: middle;
                    padding: 15px 18px;
                    text-align: center;
                    &:last-child{
                        td{
                            border-bottom: none;
                        }
                    }
                    td{
                        padding: 15px 20px;
                        &:first-child{
                            text-align: left;
                        }
                        &:last-child{
                            padding-right: 12px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
.action-dropdown{
    position: relative;
    margin-right: 0;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 15px 16px 13px;
    border-radius: 10px;
    max-width: 122px;
    span{
        display: block;
        line-height: 1;
    }
    img{
        position: absolute;
        top: 19px;
        right: 15px;
        max-width: 11px;
    }
    ul{
        position: absolute;
        top: 55px;
        right: 0;
        width: 140px;
        background-color: $clr_white;
        padding: 20px 20px 15px;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        @include transition(0.4s);
        &.open{
            visibility: visible;
            opacity: 1;
            top: 45px;
        }
        li{
            margin: 0 0 10px;
            &:last-child{
                margin-bottom: 0;
            }
            button{
                background-color: transparent;
                border: none;
                color: $clr_emperor;
                display: block;
                &:hover{
                    color: $clr_black;
                }
                i{
                    position: relative;
                    top: 1px;
                    margin-right: 8px;
                }
            }
        }
    }
}
.dt-pageination-right{
    @extend %align_center;
    @extend %flex_justify_end;
    .page-nav{
        margin-right: 15px;
        li{
            display: inline-block;
            margin: 0 5px;
            &.prev,
            &.next{
                a{
                    border: 1px solid rgba(0, 0, 0, 0.07);
                    padding: 9px;
                    border-radius: 8px;
                    text-align: center;
                    i{
                        font-size: 18px;
                        position: relative;
                        top: 3px;
                    }
                    &:hover{
                        background-color: #A091FF;
                        border-color: transparent;
                        i{
                            color: $clr_white;
                        }
                    }
                }
            }
            a{
                padding: 7px;
                font-weight: 500;
                color: $clr_emperor;
                &.active,
                &:hover{
                    color: #A091FF;
                }
            }
        }
    }
    #select-page-num {
        width: 52px;
        height: 39px;
        padding: 0 5px;
        border: 1px solid rgba(0,0,0,0.09);
        background-color: transparent;
        background-position: calc(100% - 9px) 50%;
        border-radius: 8px;
        position: relative;
        top: 2px;
    }
}
.status{
    display: inline-block;
    padding: 4px 22px;
    border-radius: 50px;
    font-size: 14px;
    &.style1 {
        border: 1px solid #0FC66A;
        color: #0FC66A;
    }
    &.style2 {
        border: 1px solid #F49E0B;
        color: #F49E0B;
    }
    &.style3 {
        border: 1px solid #FF0000;
        color: #FF0000;
    }
    &.style4 {
        border: 1px solid $clr_blue;
        color: $clr_blue;
    }
}
.add-purchase-form{
    textarea{
        height: 167px;
        resize: none;
    }
}
.add-product-form,
.settings-form{
    textarea{
        height: 140px;
        resize: none;
    }
}
.add-user-form{
    .form-group{
        position: relative;
    }
}
/*-------------------------------
    POS  CSS
-------------------------------*/
.pos-wrap{
    padding: 50px 0 0;
}
.pos-card{
    border: 1px solid rgba(183, 187, 191, 0.4);
    padding: 25px;
    border-radius: 10px;
    &.pos-produtct-card{
        padding-bottom: 0;
    }
    .search-form{
        margin-bottom: 30px;
        position: relative;
        input{
            height: 54px;
        }
        button{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background-color: transparent;
            border: none;
            padding: 12px 18px;
            cursor: pointer;
            i{
                color: #888;
                font-size: 20px;
            }
        }
    }
    &.pos-calc{
        .form-group{
            margin-bottom: 25px;
            label{
                display: block;
                margin: 0 0 10px;
                color: $clr_gray;
            }
            input{
                font-size: 15px;
                height: 54px;
            }
            select{
                height: 54px;
                color: $clr_gray;
            }
        }
        button{
            &.btn{
                margin-top: 15px;
            }
        }
    }
}
.pos-cart{
    table{
        thead{
            tr{
                th{
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    color: $clr_gray;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 10px 0 15px 0;
                    text-align: center;
                    &:first-child{
                        text-align: left;
                    }
                }
            }
        }
        tbody{
            border-top: none!important;
            vertical-align:middle;
            tr{
                td{
                    color: $clr_stratos;
                    text-align: center;
                    font-size: 14px;
                    padding: 10px 0 10px 0;
                    border-bottom: none;
                    &:first-child{
                        text-align: left;
                    }
                }
            }
        }
    }
}
.pos-tablist{
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    padding-bottom: 20px;
    margin-bottom: 25px;
    .nav-item{
        border: none;
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
        .nav-link{
            border: none;
            color: $clr_stratos;
            border-radius: 15px;
            padding: 8px 30px;
            background-color: transparent;
            @include transition(0.4s);
            &.active{
                color: $clr_white;
                background-color: $clr_blue;
            }
        }
    }
}
.product-card{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    padding: 10px 10px 15px;
    border-radius: 10px;
    margin-bottom: 25px;
    .product-img{
        background-color: $clr_zircon;
        img{
            width: 100%;
        }
    }
    .product-info{
        text-align: center;
        margin: 20px 0 0;
        .product-card-title{
            margin: 0 0 5px;
            font-size: 14px;
            font-weight: 400;
        }
        .product-id{
            font-size: 14px;
            color: $clr_stratos;
        }
    }
}
.product-quantity {
    width: 120px;
    margin: 0 auto;
    .qtySelector {
        position: relative;
        height: 36px;
        span {
            width: 35px;
            position: absolute;
            top: 0;
            height: 100%;
            background: $clr_blue;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            text-align: center;
            line-height: 36px;
            font-size: 18px;
            color: $clr_black;
            i{
                color: $clr_white;
            }
            &.decreaseQty {
                left: 0;
            }
            &.increaseQty {
                right: 0;
            }
        }
        input {
            width: calc(100% - 80px);
            background: $clr_zircon;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-left: 1px solid rgba(69, 69, 70, 0.07);
            border-right: 1px solid rgba(69, 69, 70, 0.07);
            left: 0;
            position: relative;
            height: 36px;
            top: -1px;
            text-align: center;
            color: $clr_black;
            padding: 0 5px;
        }
    }
}
.pos-cart-total{
    border: 1px solid $clr_rose;
    border-radius: 10px;
    .pos-cart-total-item{
        @extend %align_center;
        @extend %flex_justify_between;
        padding: 14px 25px;
        &:nth-child(odd){
            background-color: $clr_haze;
        }
        &:first-child{
            border-radius: 10px 10px 0 0;
        }
        &:last-child{
            border-radius: 0 0 10px 10px;
            background-color: #A3B1F0;
            p{
                color: $clr_black;
                font-weight: 400;
            }
        }
        h6{
            font-size: 18px;
            font-weight: 400;
            margin: 0;
        }
        p{
            margin: 0;
        }
    } 
    &.style2{
        margin-bottom: 25px;
    }   
}
.checkbox {
    display: block;
    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }
    label {
        position: relative;
        cursor: pointer;
        padding-left: 20px;
        &:before {
            content: "";
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid $clr_gray;
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 3px;
            position: absolute;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 5px;
            position: absolute;
            left: 0;
            top: 6px;
        }
    }
}
.checkbox input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    left: 3px;
    width: 9px;
    height: 9px;
    border: none;
    border-radius: 3px;
    background: $clr_blue;
}

/*-------------------------------
    Footer  Section CSS
-------------------------------*/
.copyright-text{
    text-align: center;
    padding: 25px 30px 15px;
    p{
        font-size: 15px;
        margin: 0;
        i{
            position: relative;
            top: 2px;
            margin-right: 5px;
        }
    }
}
// @import '../css/footer';