/*-----------------------------------------------------------
    Theme Name: POS
    Theme URI: 
    Description: POS 
    Author: HiBootstrap
    Author URI: 
    Version: 1.0
-------------------------------------------------------------*/
/*--------------------------------
     =====Table Of Contents====

1.  General Styles 
2.  Mixins CSS
3.  Back To Top Button CSS
4.  Preloader CSS
5.  Button & Link CSS
6.  Section Title & Overlay & Shape CSS
7.  Social Link CSS
8.  Pagination CSS
9.  Sidebar CSS
     - Search Box Widget
     - Taglist Widget
     - Category Widget
     - Filter Search Widget
     - New Arrival Product Widget
     - Popular Post Widget
10. Sign In CSS
11. FAQ Terms & Conditions
----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/*---------------------------------
            General Styles 
-----------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:focus,
button:focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, textarea, select {
  background-color: #F9FAFF;
  border: 1px solid #D4DCFF;
  padding: 10px 18px;
  width: 100%;
  border-radius: 5px;
  height: 54px;
}

.form-group {
  margin-bottom: 25px;
  position: relative;
}

.form-group .pwd-view {
  position: absolute;
  bottom: 13px;
  right: 15px;
  cursor: pointer;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group label span {
  color: red;
  margin-left: 2px;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  color: #000;
  text-transform: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover,
a :focus {
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000;
}

a:focus {
  outline: 0 solid;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.4;
  color: #03014C;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #707070;
}

p {
  font-size: 16px;
  line-height: 1.8;
  color: #707070;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: calc(100% - 18px) 50%;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-130 {
  padding-bottom: 130px;
}

.ptb-10 {
  padding-bottom: 10px;
  padding-bottom: 10px;
}

.ptb-20 {
  padding-bottom: 20px;
  padding-bottom: 20px;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ptb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.ptb-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mmt-10 {
  margin-top: -10px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mtb-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.z-0 {
  z-index: 0;
  position: relative;
}

#message {
  padding: 0;
  margin: 0;
}

.help-block {
  color: #E31C25;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol li,
ul li {
  list-style: none;
}

.page-wrapper {
  overflow-x: hidden;
}

/*---------------------------------
          Mixins & Animation CSS
-----------------------------------*/
.header-wrap .header-left, .header-wrap .header-right, .select-lang .navbar-language .dropdown-toggle, .navbar-brand, .counter-card .counter-card-info, .dt-table-wrap table tbody tr td .product_item, .dt-pageination-right, .pos-cart-total .pos-cart-total-item, .option-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header-wrap .header-left, .header-wrap .header-right, .select-lang .navbar-language .dropdown-toggle, .navbar-brand, .counter-card .counter-card-info, .dt-table-wrap table tbody tr td .product_item, .dt-pageination-right, .pos-cart-total .pos-cart-total-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.pos-cart-total .pos-cart-total-item {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-wrap .header-right, .dt-pageination-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.option-btn-wrap {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.play-now .ripple,
.play-now .ripple:before,
.play-now .ripple:after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 85px;
  width: 85px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform-origin: center;
  transform-origin: center center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 #fff;
  -ms-box-shadow: 0 0 0 0 #fff;
  -o-box-shadow: 0 0 0 0 #fff;
  box-shadow: 0 0 0 0 #fff;
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
}

.play-now {
  position: relative;
  height: 85px;
  width: 85px;
  text-align: center;
  line-height: 92px;
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  z-index: 1;
  font-size: 28px;
  padding-left: 5px;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center center;
  border-radius: 50%;
  margin: 0 auto;
}

.play-now .ripple:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  content: "";
  position: absolute;
}

.play-now .ripple:after {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  content: "";
  position: absolute;
}

@-webkit-keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/*---------------------------------
     Back To Top Button CSS
-----------------------------------*/
.back-to-top {
  font-size: 24px;
  width: 45px;
  height: 45px;
  line-height: 42px;
  text-align: center;
  display: none;
  position: fixed;
  bottom: 230px;
  right: 20px;
  z-index: 999;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.back-to-top.open {
  bottom: 30px;
}

.back-to-top i {
  color: #fff;
}

/*---------------------------------
     Preloader CSS
-----------------------------------*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 20000;
  overflow-x: hidden !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader div {
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
  border-radius: 50px;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  display: inline-block;
  -webkit-animation: bouncing 1.4s linear infinite;
          animation: bouncing 1.4s linear infinite;
}

.loader div:last-child {
  margin: 0;
}

.loader div:nth-child(1) {
  background: rgba(160, 145, 255, 0.9);
}

.loader div:nth-child(2) {
  background: rgba(160, 145, 255, 0.7);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  background: rgba(160, 145, 255, 0.5);
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes bouncing {
  0%, 100% {
    -webkit-transform: translateY(0) scale(1, 1);
            transform: translateY(0) scale(1, 1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: translateY(80px) scale(1, 1);
            transform: translateY(80px) scale(1, 1);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  50% {
    -webkit-transform: translateY(80px) scale(1.5, 0.5);
            transform: translateY(80px) scale(1.5, 0.5);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  55% {
    -webkit-transform: translateY(80px) scale(1, 1);
            transform: translateY(80px) scale(1, 1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bouncing {
  0%, 100% {
    -webkit-transform: translateY(0) scale(1, 1);
            transform: translateY(0) scale(1, 1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: translateY(80px) scale(1, 1);
            transform: translateY(80px) scale(1, 1);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  50% {
    -webkit-transform: translateY(80px) scale(1.5, 0.5);
            transform: translateY(80px) scale(1.5, 0.5);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  55% {
    -webkit-transform: translateY(80px) scale(1, 1);
            transform: translateY(80px) scale(1, 1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/*---------------------------------
       Button & Link CSS
----------------------------------*/
.btn {
  display: inline-block;
  line-height: 26px;
  font-weight: 400;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  position: relative;
  z-index: 1;
  border: none;
  padding: 14px 35px 14px;
  border-radius: 0;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 10px;
}

.btn:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 50%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 50%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  color: #fff;
}

.btn:hover:after, .btn:hover:before {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.btn.style1 {
  background-color: #6964FF;
  color: #fff;
  border-radius: 10px;
}

.btn.style1:after, .btn.style1:before {
  background: #03014C;
}

.btn.style2 {
  background-color: #455060;
  color: #fff;
}

.btn.style2:after, .btn.style2:before {
  background: #6964FF;
}

.btn.style3 {
  background-color: #6964FF;
  color: #fff;
  border-radius: 10px;
  padding: 14px 45px 14px;
}

.btn.style3:after, .btn.style3:before {
  background: #03014C;
}

.btn.style4 {
  background-color: transparent;
  color: #595959;
  border-radius: 10px;
  display: block;
  width: 100%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.btn.style4 img {
  max-width: 18px;
  position: relative;
  top: -1px;
  margin-right: 6px;
}

.btn.style4:after, .btn.style4:before {
  background: #03014C;
}

.btn.style4:hover {
  color: #fff;
}

.link {
  font-weight: 500;
  line-height: 26px;
  display: inline-block;
  position: relative;
  color: #6964FF;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 1px;
  background: #6964FF;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.link i {
  position: relative;
  top: 3px;
  margin-left: 5px;
  font-size: 14px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.link:hover {
  color: #6964FF;
}

.link:hover:after {
  visibility: visible;
  opacity: 1;
  width: 100%;
}

.link:hover i {
  margin-left: 10px;
}

.bg-transparent {
  background-color: transparent;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.bg-f {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ddd;
}

.section-title {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 20px;
  color: #707070;
}

/*-------------------------------
    Login & Register  CSS
-------------------------------*/
.wl-text h2 {
  font-size: 44px;
  color: #fff;
  margin: 0 0 5px;
}

.wl-text p {
  margin: 0;
  color: #fff;
}

.login-wrap {
  position: relative;
  z-index: 1;
  padding: 50px;
}

.login-wrap.style2 {
  overflow: hidden;
}

.login-wrap.style2:before {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 200%;
  height: 200%;
  background-color: #6964FF;
  content: "";
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: -1;
}

.login-wrap .login-form-wrap {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 50px;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.login-wrap .login-form-wrap .login-header {
  margin-bottom: 30px;
}

.login-wrap .login-form-wrap .login-header h3 {
  font-size: 40px;
  margin: 0 0 5px;
}

.login-wrap .login-form-wrap .checkbox label:before {
  top: 4px;
}

.login-wrap .login-form-wrap .checkbox input:checked + label::after {
  top: 7px;
}

.or-text {
  position: relative;
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 18px;
  z-index: 9;
}

.or-text:before {
  position: absolute;
  top: 15px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  z-index: -1;
}

.or-text p {
  display: inline-block;
  padding: 0 10px;
  background-color: #f9f9f9;
  margin: 0 auto;
  z-index: 1;
  font-size: 18px;
  border-radius: 50%;
}

.or-text button {
  margin-bottom: 20px;
}

/*-------------------------------
    Header  Section CSS
-------------------------------*/
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.header-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
  padding: 10px 0;
  z-index: 99;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-wrap.sticky {
  position: fixed;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: #fff;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  width: 100%;
  top: 0;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.header-wrap .header-left .sidebar-btn {
  width: 40px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: transparent;
  border-radius: 5px;
  position: relative;
  top: 2px;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-wrap .header-left .sidebar-btn i {
  font-size: 20px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-wrap .header-left .sidebar-btn:hover {
  background-color: #A091FF;
  border-color: transparent;
}

.header-wrap .header-left .sidebar-btn:hover i {
  color: #fff;
}

.header-wrap .header-right a.btn {
  padding: 4px 24px 3px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
}

.header-wrap .header-right .notification-btn {
  position: relative;
  cursor: pointer;
  margin-left: 30px;
}

.header-wrap .header-right .notification-btn .bell-icon {
  position: relative;
}

.header-wrap .header-right .notification-btn .bell-icon span {
  position: absolute;
  top: 3px;
  right: -8px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  background-color: #6964FF;
  color: #fff;
}

.header-wrap .header-right .notification-btn .bell-icon i {
  font-size: 26px;
}

.header-wrap .header-right .notification-btn h6 {
  margin: 0 0 15px;
  color: #595959;
}

.header-wrap .header-right .notification-btn span i {
  color: #595959;
}

.header-wrap .header-right .notification-btn .notification-wrap {
  position: absolute;
  top: 55px;
  right: 0;
  min-width: 300px;
  background-color: #fff;
  padding: 20px 20px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-wrap .header-right .notification-btn .notification-wrap.open {
  visibility: visible;
  opacity: 1;
  top: 45px;
}

.header-wrap .header-right .notification-btn .notification-wrap ul li {
  position: relative;
  padding-left: 55px;
  margin-bottom: 15px;
}

.header-wrap .header-right .notification-btn .notification-wrap ul li p {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1.4;
}

.header-wrap .header-right .notification-btn .notification-wrap ul li:last-child {
  margin-bottom: 0;
}

.header-wrap .header-right .notification-btn .notification-wrap ul li span.notification-time {
  font-size: 12px;
}

.header-wrap .header-right .notification-btn .notification-wrap ul li span.notification-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  background-color: #D4DCFF;
}

.header-wrap .header-right .notification-btn .notification-wrap ul li span.notification-icon i {
  color: #595959;
  font-size: 15px;
  line-height: 33px;
}

.header-wrap .header-right .notification-btn .notification-wrap button {
  background-color: transparent;
  border: none;
  display: block;
  width: 100%;
  text-align: center;
  color: #6964FF;
  font-weight: 500;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}

.header-wrap .header-right .select-lang {
  margin-left: 30px;
}

.header-wrap .header-right .user-option {
  position: relative;
  margin-left: 40px;
  cursor: pointer;
}

.header-wrap .header-right .user-option span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header-wrap .header-right .user-option span img {
  border-radius: 50%;
}

.header-wrap .header-right .user-option ul {
  position: absolute;
  top: 55px;
  right: 0;
  width: 140px;
  background-color: #fff;
  padding: 20px 20px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-wrap .header-right .user-option ul.open {
  visibility: visible;
  opacity: 1;
  top: 45px;
}

.header-wrap .header-right .user-option ul li {
  margin: 0 0 13px;
}

.header-wrap .header-right .user-option ul li:last-child {
  margin-bottom: 0;
}

.header-wrap .header-right .user-option ul li a {
  color: #595959;
  font-size: 15px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-wrap .header-right .user-option ul li a:hover {
  padding-left: 5px;
  color: #6964FF;
}

.header-wrap .header-right .user-option ul li a i {
  position: relative;
  top: 1px;
  font-size: 14px;
  margin-right: 8px;
}

.select-lang {
  padding-left: 18px;
  position: relative;
  top: 1px;
}

.select-lang i {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 15px;
  line-height: 1;
  color: #6964FF;
}

.select-lang .navbar-language .dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #595959;
  font-size: 14px;
  padding-right: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.select-lang .navbar-language .dropdown-toggle:after {
  display: none;
}

.select-lang .navbar-language .dropdown-toggle:before {
  position: absolute;
  top: 5px;
  right: -3px;
  content: "\EA4E";
  font-family: "remixicon";
  border: 0;
  font-size: 18px;
  line-height: 0.8;
  color: rgba(0, 0, 0, 0.7);
}

.select-lang .navbar-language .dropdown-menu {
  margin: 0;
  padding: 5px 0;
  -webkit-box-shadow: 0 9px 54px 0 rgba(32, 32, 32, 0.1);
  box-shadow: 0 9px 54px 0 rgba(32, 32, 32, 0.1);
  left: auto;
  right: 0;
  inset: 0px 0 auto auto !important;
  border: none;
  border-radius: 0;
  -webkit-transform: translateY(75px) !important;
  transform: translateY(75px) !important;
  display: block;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.select-lang .navbar-language .dropdown-menu a {
  padding: 5px 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 15px;
}

.select-lang .navbar-language .dropdown-menu a img {
  width: 20px;
  margin-right: 10px;
}

.select-lang .navbar-language .dropdown-menu.show {
  -webkit-transform: translateY(40px) !important;
  transform: translateY(40px) !important;
  opacity: 1;
  pointer-events: all;
}

/*-------------------------------
    Sidebar  Nav CSS
-------------------------------*/
.navbar-brand {
  margin-bottom: 40px;
}

.navbar-brand img {
  max-width: 40px;
  margin-right: 5px;
}

.navbar-brand span {
  width: calc(100% - 55px);
}

.sidebar-menu {
  height: calc(100% - 140px);
  overflow-y: auto;
}

.sidebar-menu ul li {
  padding: 3px 0;
}

.sidebar-menu ul li a {
  display: block;
  width: 100%;
  padding: 13px 20px 12px;
  background-color: transparent;
  border-radius: 10px;
  color: #707070;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar-menu ul li a i {
  float: right;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar-menu ul li a.active {
  background-color: #fff;
  color: #03014C;
}

.sidebar-menu ul li img {
  position: relative;
  max-width: 18px;
  margin-right: 12px;
  position: relative;
  top: -2px;
}

.sidebar-menu ul li.nav-item {
  position: relative;
}

.sidebar-menu ul li.nav-item .nav-link {
  padding-left: 0;
}

.sidebar-menu ul li.nav-item .nav-link.active {
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar-menu ul li.nav-item ul {
  margin: 5px 0 0 0;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
}

.sidebar-menu ul li.nav-item ul li {
  margin: 0;
}

.sidebar-menu ul li.nav-item ul li a {
  background-color: transparent;
  font-size: 15px;
  padding: 10px 15px;
  color: #707070;
}

.sidebar-menu ul li.nav-item ul li a.active, .sidebar-menu ul li.nav-item ul li a:hover {
  background-color: #F6F8FA;
  padding-left: 20px;
  color: #03014C;
}

.sidebar-menu ul li.nav-item.open > a {
  background-color: #fff;
  color: #03014C;
}

.sidebar-menu ul li.nav-item.open > a i {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*-------------------------------
    Dashboard  Section CSS
-------------------------------*/
.db-wrap .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #F9FAFF;
  padding: 85px 30px 40px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.db-wrap.close-sidebar .sidebar {
  left: -100%;
}

.db-wrap.close-sidebar .db-content {
  width: 100%;
}

.db-wrap .db-content {
  margin-left: auto;
  width: calc(100% - 300px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.counter-card {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  margin-bottom: 25px;
}

.counter-card .counter-card-title {
  font-size: 12px;
  font-weight: 400;
  color: #707070;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 16px 25px 13px;
}

.counter-card .counter-card-info {
  padding: 20px 25px;
}

.counter-card .counter-card-info h4 {
  width: calc(100% - 60px);
  margin-right: 5px;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.counter-card .counter-card-info .counter-card-icon {
  width: 55px;
}

.db-card {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.db-card .db-card-title {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 10px;
}

.db-card table thead tr th {
  font-size: 14px;
  text-align: center;
  padding: 14px;
}

.db-card table thead tr th:nth-child(1) {
  text-align: left;
}

.db-card table tbody tr td {
  font-size: 14px;
  text-align: center;
  padding: 14px;
  vertical-align: middle;
}

.db-card table tbody tr td:nth-child(1) {
  text-align: left;
}

/*-------------------------------
    Category Page  CSS
-------------------------------*/
.body_overlay {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.001);
  width: 100%;
  height: 100%;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.body_overlay.open {
  visibility: visible;
  opacity: 1;
}

.form-group.cat-search {
  position: relative;
}

.form-group.cat-search input {
  height: 48px;
  padding-left: 45px;
  border-radius: 10px;
  background-color: transparent;
}

.form-group.cat-search button {
  position: absolute;
  top: 16px;
  left: 0;
  padding: 5px 15px;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.form-group.cat-search button i {
  font-size: 20px;
  color: #707070;
}

.form-group.cat-search.style2 input {
  height: 54px;
  background-color: #F9FAFF;
  border: 1px solid #D4DCFF;
}

.form-group.cat-search.style3 button {
  top: 2px;
}

.db-content {
  padding: 80px 0 0;
}

.option-btn-wrap button, .option-btn-wrap a {
  margin-right: 15px;
}

.option-btn-wrap button:last-child, .option-btn-wrap a:last-child {
  margin-right: 0;
}

.option-btn-wrap button.btn, .option-btn-wrap a.btn {
  padding: 7px 14px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid transparent;
}

.option-btn-wrap button.btn i, .option-btn-wrap a.btn i {
  position: relative;
  top: 1px;
  margin-right: 6px;
}

.option-btn-wrap button.btn.style3, .option-btn-wrap a.btn.style3 {
  padding: 6px 14px;
  background-color: #A091FF;
}

.option-btn-wrap button.btn.style3 i, .option-btn-wrap a.btn.style3 i {
  top: 3px;
  margin-right: 0;
  font-size: 22px;
}

.option-btn-wrap button.btn.style4, .option-btn-wrap a.btn.style4 {
  background-color: transparent;
  border: 1px solid #FF0000;
  color: #FF0000;
  display: inline-block;
  width: auto;
}

.option-btn-wrap button.btn.style4:hover, .option-btn-wrap a.btn.style4:hover {
  border-color: transparent;
  background-color: #FF0000;
  color: #fff;
}

.option-btn-wrap button.btn.style5, .option-btn-wrap a.btn.style5 {
  background-color: transparent;
  border: 1px solid #00BF1A;
  color: #00BF1A;
}

.option-btn-wrap button.btn.style5:hover, .option-btn-wrap a.btn.style5:hover {
  border-color: transparent;
  background-color: #00BF1A;
  color: #fff;
}

.option-btn-wrap button.btn.style6, .option-btn-wrap a.btn.style6 {
  background-color: #6200E1;
  color: #fff;
}

.option-btn-wrap button.btn.style6:hover, .option-btn-wrap a.btn.style6:hover {
  background-color: #03014C;
  color: #fff;
}

.option-btn-wrap button.btn.style7, .option-btn-wrap a.btn.style7 {
  background-color: #0062FF;
  color: #fff;
}

.option-btn-wrap button.btn.style7:hover, .option-btn-wrap a.btn.style7:hover {
  background-color: #03014C;
  color: #fff;
}

.dt-table-wrap {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
  padding: 20px 20px;
  border-radius: 10px;
}

.dt-table-wrap table thead {
  border-color: transparent;
}

.dt-table-wrap table thead tr th {
  background-color: #F9FAFF;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  padding: 15px 18px;
}

.dt-table-wrap table thead tr th .checkbox {
  position: relative;
  top: -19px;
  left: 13px;
}

.dt-table-wrap table thead tr th:first-child {
  padding-left: 0;
  text-align: left;
}

.dt-table-wrap table thead tr th:nth-child(2) {
  text-align: left;
}

.dt-table-wrap table thead tr th:last-child {
  width: 135px;
  padding-right: 0;
}

.dt-table-wrap table tbody {
  border-top: none !important;
}

.dt-table-wrap table tbody tr {
  vertical-align: middle;
  padding: 15px 18px;
  text-align: center;
}

.dt-table-wrap table tbody tr:last-child td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dt-table-wrap table tbody tr td {
  border: none;
  color: #707070;
  padding: 15px 12px;
  font-size: 14px;
}

.dt-table-wrap table tbody tr td:first-child {
  text-align: left;
}

.dt-table-wrap table tbody tr td:last-child {
  padding-right: 0;
  text-align: left;
}

.dt-table-wrap table tbody tr td.dt-checkboxes .checkbox {
  position: relative;
  top: -19px;
}

.dt-table-wrap table tbody tr td .product_item img {
  max-width: 40px;
  border-radius: 5px;
}

.dt-table-wrap table tbody tr td .product_item h6 {
  width: calc(100% - 50px);
  margin: 0 0 0 10px;
  font-weight: 400;
  font-size: 14px;
  color: #707070;
  text-align: left;
}

.dt-table-wrap.style1 table thead tr th:last-child {
  min-width: 125px;
}

.dt-table-wrap.style1 table tbody tr td:last-child {
  min-width: 125px;
}

.dt-table.style2 {
  border-radius: 5px 0 0 5px;
  margin-bottom: 25px;
}

.dt-table.style2 table thead {
  border-color: transparent;
}

.dt-table.style2 table thead tr th {
  background-color: #B8C2F2;
  font-weight: 500;
  padding: 15px 20px;
  text-align: center;
}

.dt-table.style2 table thead tr th:first-child {
  padding-left: 20px;
  border-radius: 5px 0 0 0;
  text-align: left;
}

.dt-table.style2 table thead tr th:last-child {
  border-radius: 0 5px 0 0;
}

.dt-table.style2 table thead tr th:nth-child(2) {
  text-align: center;
}

.dt-table.style2 table tbody {
  border-top: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.dt-table.style2 table tbody tr {
  vertical-align: middle;
  padding: 15px 18px;
  text-align: center;
}

.dt-table.style2 table tbody tr:last-child td {
  border-bottom: none;
}

.dt-table.style2 table tbody tr td {
  padding: 15px 20px;
}

.dt-table.style2 table tbody tr td:first-child {
  text-align: left;
}

.dt-table.style2 table tbody tr td:last-child {
  padding-right: 12px;
  text-align: center;
}

.action-dropdown {
  position: relative;
  margin-right: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 16px 13px;
  border-radius: 10px;
  max-width: 122px;
}

.action-dropdown span {
  display: block;
  line-height: 1;
}

.action-dropdown img {
  position: absolute;
  top: 19px;
  right: 15px;
  max-width: 11px;
}

.action-dropdown ul {
  position: absolute;
  top: 55px;
  right: 0;
  width: 140px;
  background-color: #fff;
  padding: 20px 20px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.action-dropdown ul.open {
  visibility: visible;
  opacity: 1;
  top: 45px;
}

.action-dropdown ul li {
  margin: 0 0 10px;
}

.action-dropdown ul li:last-child {
  margin-bottom: 0;
}

.action-dropdown ul li button {
  background-color: transparent;
  border: none;
  color: #595959;
  display: block;
}

.action-dropdown ul li button:hover {
  color: #000;
}

.action-dropdown ul li button i {
  position: relative;
  top: 1px;
  margin-right: 8px;
}

.dt-pageination-right .page-nav {
  margin-right: 15px;
}

.dt-pageination-right .page-nav li {
  display: inline-block;
  margin: 0 5px;
}

.dt-pageination-right .page-nav li.prev a, .dt-pageination-right .page-nav li.next a {
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding: 9px;
  border-radius: 8px;
  text-align: center;
}

.dt-pageination-right .page-nav li.prev a i, .dt-pageination-right .page-nav li.next a i {
  font-size: 18px;
  position: relative;
  top: 3px;
}

.dt-pageination-right .page-nav li.prev a:hover, .dt-pageination-right .page-nav li.next a:hover {
  background-color: #A091FF;
  border-color: transparent;
}

.dt-pageination-right .page-nav li.prev a:hover i, .dt-pageination-right .page-nav li.next a:hover i {
  color: #fff;
}

.dt-pageination-right .page-nav li a {
  padding: 7px;
  font-weight: 500;
  color: #595959;
}

.dt-pageination-right .page-nav li a.active, .dt-pageination-right .page-nav li a:hover {
  color: #A091FF;
}

.dt-pageination-right #select-page-num {
  width: 52px;
  height: 39px;
  padding: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  background-color: transparent;
  background-position: calc(100% - 9px) 50%;
  border-radius: 8px;
  position: relative;
  top: 2px;
}

.status {
  display: inline-block;
  padding: 4px 22px;
  border-radius: 50px;
  font-size: 14px;
}

.status.style1 {
  border: 1px solid #0FC66A;
  color: #0FC66A;
}

.status.style2 {
  border: 1px solid #F49E0B;
  color: #F49E0B;
}

.status.style3 {
  border: 1px solid #FF0000;
  color: #FF0000;
}

.status.style4 {
  border: 1px solid #6964FF;
  color: #6964FF;
}

.add-purchase-form textarea {
  height: 167px;
  resize: none;
}

.add-product-form textarea,
.settings-form textarea {
  height: 140px;
  resize: none;
}

.add-user-form .form-group {
  position: relative;
}

/*-------------------------------
    POS  CSS
-------------------------------*/
.pos-wrap {
  padding: 50px 0 0;
}

.pos-card {
  border: 1px solid rgba(183, 187, 191, 0.4);
  padding: 25px;
  border-radius: 10px;
}

.pos-card.pos-produtct-card {
  padding-bottom: 0;
}

.pos-card .search-form {
  margin-bottom: 30px;
  position: relative;
}

.pos-card .search-form input {
  height: 54px;
}

.pos-card .search-form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
}

.pos-card .search-form button i {
  color: #888;
  font-size: 20px;
}

.pos-card.pos-calc .form-group {
  margin-bottom: 25px;
}

.pos-card.pos-calc .form-group label {
  display: block;
  margin: 0 0 10px;
  color: #707070;
}

.pos-card.pos-calc .form-group input {
  font-size: 15px;
  height: 54px;
}

.pos-card.pos-calc .form-group select {
  height: 54px;
  color: #707070;
}

.pos-card.pos-calc button.btn {
  margin-top: 15px;
}

.pos-cart table thead tr th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #707070;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0 15px 0;
  text-align: center;
}

.pos-cart table thead tr th:first-child {
  text-align: left;
}

.pos-cart table tbody {
  border-top: none !important;
  vertical-align: middle;
}

.pos-cart table tbody tr td {
  color: #03014C;
  text-align: center;
  font-size: 14px;
  padding: 10px 0 10px 0;
  border-bottom: none;
}

.pos-cart table tbody tr td:first-child {
  text-align: left;
}

.pos-tablist {
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.pos-tablist .nav-item {
  border: none;
  margin-right: 10px;
}

.pos-tablist .nav-item:last-child {
  margin-right: 0;
}

.pos-tablist .nav-item .nav-link {
  border: none;
  color: #03014C;
  border-radius: 15px;
  padding: 8px 30px;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.pos-tablist .nav-item .nav-link.active {
  color: #fff;
  background-color: #6964FF;
}

.product-card {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  padding: 10px 10px 15px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.product-card .product-img {
  background-color: #F9FAFF;
}

.product-card .product-img img {
  width: 100%;
}

.product-card .product-info {
  text-align: center;
  margin: 20px 0 0;
}

.product-card .product-info .product-card-title {
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: 400;
}

.product-card .product-info .product-id {
  font-size: 14px;
  color: #03014C;
}

.product-quantity {
  width: 120px;
  margin: 0 auto;
}

.product-quantity .qtySelector {
  position: relative;
  height: 36px;
}

.product-quantity .qtySelector span {
  width: 35px;
  position: absolute;
  top: 0;
  height: 100%;
  background: #6964FF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 36px;
  font-size: 18px;
  color: #000;
}

.product-quantity .qtySelector span i {
  color: #fff;
}

.product-quantity .qtySelector span.decreaseQty {
  left: 0;
}

.product-quantity .qtySelector span.increaseQty {
  right: 0;
}

.product-quantity .qtySelector input {
  width: calc(100% - 80px);
  background: #F9FAFF;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left: 1px solid rgba(69, 69, 70, 0.07);
  border-right: 1px solid rgba(69, 69, 70, 0.07);
  left: 0;
  position: relative;
  height: 36px;
  top: -1px;
  text-align: center;
  color: #000;
  padding: 0 5px;
}

.pos-cart-total {
  border: 1px solid #D4DCFF;
  border-radius: 10px;
}

.pos-cart-total .pos-cart-total-item {
  padding: 14px 25px;
}

.pos-cart-total .pos-cart-total-item:nth-child(odd) {
  background-color: #F9FAFF;
}

.pos-cart-total .pos-cart-total-item:first-child {
  border-radius: 10px 10px 0 0;
}

.pos-cart-total .pos-cart-total-item:last-child {
  border-radius: 0 0 10px 10px;
  background-color: #A3B1F0;
}

.pos-cart-total .pos-cart-total-item:last-child p {
  color: #000;
  font-weight: 400;
}

.pos-cart-total .pos-cart-total-item h6 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.pos-cart-total .pos-cart-total-item p {
  margin: 0;
}

.pos-cart-total.style2 {
  margin-bottom: 25px;
}

.checkbox {
  display: block;
}

.checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox label {
  position: relative;
  cursor: pointer;
  padding-left: 20px;
}

.checkbox label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #707070;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  position: absolute;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  position: absolute;
  left: 0;
  top: 6px;
}

.checkbox input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: 3px;
  width: 9px;
  height: 9px;
  border: none;
  border-radius: 3px;
  background: #6964FF;
}

/*-------------------------------
    Footer  Section CSS
-------------------------------*/
.copyright-text {
  text-align: center;
  padding: 25px 30px 15px;
}

.copyright-text p {
  font-size: 15px;
  margin: 0;
}

.copyright-text p i {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */